<div style="margin: auto; max-width: 800px; margin-top: 50px">
    <form nz-form [formGroup]="uploadForm" enctype="multipart/form-data">
        <nz-form-item>
            <nz-form-label nzRequired [nzMd]="6" [nzSm]="24">{{ 'image_file' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'no_file_chosen' | translate }}">
                <input nz-input type="file" name="file" accept="image/png" class="nz-form-control" formControlName="uploadImage" (change)="onChange($event)">
                <img [src]="selectedImage" alt="Selected Image" *ngIf="selectedImage" style="max-width:240px;max-height:200px; padding-top:10px">
                <span *ngIf="fileSizeError" style="color:red;">{{ 'file_size_exceeded' | translate }}</span>
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" style="float:right" (click)="upload()">{{ 'upload' | translate }}</button>
    </form>
</div>

<div style="padding-top:100px; margin: auto; max-width: 800px">
    <nz-table #basicTable [nzPageSize]="10" [nzScroll]="{ y: '800px' }" [nzData]="imageList">
        <thead>
            <tr>
                <th nzWidth="80px">{{ 'id' | translate }}</th>
                <th nzWidth="200px">{{ 'name' | translate }}</th>
                <th nzWidth="200px">{{ 'image' | translate }}</th>
                <th nzWidth="100px">{{ 'action' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basicTable.data">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td><img *ngIf="item.image" [src]="item.image" width="150" height="150" /></td>
                <td><button nz-button nzType="primary" nzDanger (click)="deleteFile(item.id)">{{ 'delete' | translate }}</button></td>
            </tr>
        </tbody>
    </nz-table>
</div>