<form nz-form [formGroup]="validateForm" class="login-form" style="margin:auto; padding: 100px 10px 0px 10px" (ngSubmit)="submitForm()">
    <h1 style="text-align: left;">{{ 'login' | translate }}</h1>
    <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'name_required_msg' | translate }}">
            <nz-input-group nzPrefixIcon="user" nzSize="large">
                <input type="text" nz-input formControlName="name" placeholder="{{ 'name' | translate }}" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'password_required_msg' | translate }}">
            <nz-input-group nzPrefixIcon="lock" nzSize="large">
                <input type="password" nz-input formControlName="password" placeholder="{{ 'password' | translate }}" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{ 'log_in' | translate }}</button>
    {{ 'or' | translate }}
    <a routerLink="/home" routerLinkActive="active">{{ 'register_now' | translate }}</a>
</form>
